<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Logo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a routerLink="/inicio" routerLinkActive="active">Inicio </a>
      </li>
      <li class="nav-item">
        <a routerLink="/acerca-de" routerLinkActive="active">Acerca de </a>
      </li>
      <li class="nav-item">
        <a routerLink="/servicios" routerLinkActive="active">Servicios </a>
      </li>
      <li class="nav-item">
        <a routerLink="/contacto" routerLinkActive="active">Contacto </a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>